<div class="alert alert-info" role="alert">
  <p class="text-center"><strong>CREAR EMPLEADO NUEVO</p>
</div>
<div ng-controller="info_empleado">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="datos-personales" data-bs-toggle="tab" data-bs-target="#personal-data" type="button" role="tab" aria-controls="home" aria-selected="true">Datos Personales</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="datos-laborales" data-bs-toggle="tab" data-bs-target="#job-data" type="button" role="tab" aria-controls="profile" aria-selected="false">Datos Laborales</button>
    </li>
  </ul>
  <!-- ********************************************************************************************* -->
  <div class="tab-content" id="myTabContent" >
    <!-- ********************************************************************************************* -->
    <div class="tab-pane fade show active" id="personal-data" role="tabpanel" aria-labelledby="datos-personales">
      <div class="row mt-3">
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Nombres</label>
          <input type="text" class="form-control" ng-model="employer.name" placeholder="nombre">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Apellidos</label>
          <input type="text" class="form-control" ng-model="employer.lastname" placeholder="apellidos">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Cédula: (Válida)</label>
          <input type="text" class="form-control" ng-model="employer.idn" placeholder="1209372901">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Provincia</label>
          <select name="provincia" ng-model="employer.province" class="form-select">
            <option ng-repeat="province in provincias" value="{{province.nombre_provincia}}">{{province.nombre_provincia}}</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" ng-model="employer.birthday">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Email (Valida)</label>
          <input type="mail" class="form-control" ng-model="employer.mail">
        </div>
        <div class="col-md-12 mb-3">
          <label for="n1" class="form-label">Observaciones</label><br>
          <textarea name="observaciones" ng-model="employer.obsv" rows="8" cols="80"></textarea>
        </div>
      </div>
    </div>
    <!-- ********************************************************************************************* -->
    <div class="tab-pane fade" id="job-data" role="tabpanel" aria-labelledby="datos-personales">
      <div class="row mt-3">
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Fecha de ingreso</label>
          <input type="date" class="form-control" ng-model="job.start" >
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Cargo</label>
          <input type="text" class="form-control" ng-model="job.place" placeholder="cargo">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Departamento</label>
          <input type="text" class="form-control" ng-model="job.department">
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Provincia</label>
          <select name="provincia" ng-model="job.province" class="form-select">
            <option ng-repeat="province in provincias" value="{{province.nombre_provincia}}">{{province.nombre_provincia}}</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Sueldo</label>
          <input type="text" class="form-control" ng-model="job.salary" placeholder="520.00">USD
        </div>
        <div class="col-md-6 mb-3">
          <label for="n1" class="form-label">Jornada Parcial</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="parcial" ng-model="job.partial_y" value="yes">
            <label class="form-check-label" for="jp_yes">Sí</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="parcial" ng-model="job.partial_n" value="no">
            <label class="form-check-label" for="jp_no">No</label>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="n1" class="form-label">Observaciones</label><br>
          <textarea name="observaciones" ng-model="job.obsv" rows="8" cols="80"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="submitData()">Contsinuar</button>
    <button type="button" class="btn btn-warning">Reporte</button>
    <button type="button" class="btn btn-danger">Salir</button>
  </div>
</div>
